body {
    background: #efefef;
    margin: 0px;
}

a {
    /* 继承父元素样式 a标签默认不继承 */
    color: inherit;
    /*取消a标签的下划线*/
    text-decoration: none;
}

hr {
    height: 0px;
    border: none;
    border-top: 1px solid #DEDEDE;
}

* {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.topNavBar {
    padding: 20px 0px;
    top: 0;
    left: 0;
    /* 脱离文档流 */
    position: fixed;
    width: 100%;
    transition: all 0.5s;
    color: #b7b7b7;
}

.topNavBar.sticky {
    background: #fff;
    padding: 10px 0px;
    z-index: 1;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    color: #3d4451;
}

.topNavBar-inner {
    padding: 0px 16px;
}

.topNavBar nav {
    padding-top: 7px;
}

.topNavBar nav>ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.topNavBar nav>ul>li {
    float: left;
    margin-left: 17px;
    margin-right: 17px;
    position: relative;
}

.topNavBar nav>ul>li>a {
    font-size: 12px;
    color: inherit;
    font-weight: bold;
    border-top: 3px solid transparent;
    /* 解决hover事件触发时，页面抖动问题 */
    border-bottom: 3px solid transparent;
    padding: 5px 0;
    /* 解决a标签和li标签高度不一致问题 */
    display: block;
    position: relative;
}

.topNavBar nav>ul>li.active>a::after {
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #e06567;
    height: 3px;
    animation: menuSlide 0.3s;
}

@keyframes menuSlide {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

.topNavBar .submenu {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    background: #fff;
    color: #3d4451;
    box-shadow: rgba(0, 0, 0, 0.5);
}

.topNavBar li.active>.submenu {
    display: block;
    animation: submenuSlide .3s;
}

@keyframes submenuSlide {
    0% {
        margin-right: 100%;
    }
    100% {
        margin-right: 0%
    }
}

.topNavBar .submenu>li {
    white-space: nowrap;
    padding: 5px 10px;
}


/* 继承 rs和card继承logo上的属性 */

.topNavBar .logo {
    font-size: 24px;
    padding-top: 3px;
    padding-bottom: 4px;
}

.topNavBar .logo .rs {
    margin-right: 4px;
    color: #e6686a;
}

.topNavBar .logo .card {
    color: #9a9da2;
}

.banner {
    height: 515px;
    background-image: url(./img/Mac-desk.jpg);
    background-position: center center;
    background-size: cover;
}

.banner .mask {
    height: 515px;
    background-color: rgb(0, 0, 0, 0.8);
}

.userCard {
    /* 小于940px时，自适应；如果写width:940px，则不会自适应*/
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}

.userCard .welcome {
    background: #e6686a;
    color: white;
    display: inline-block;
    padding: 4px 16px;
    line-height: 22px;
    position: relative;
}

.userCard .welcome .triangle {
    display: block;
    border: 10px solid transparent;
    width: 0px;
    border-left-color: #e6686a;
    border-top-width: 0px;
    position: absolute;
    left: 4px;
    top: 100%;
}

.userCard .picture {
    float: left;
}

.userCard .text h1 {
    margin-top: 18px;
}

.userCard .text hr {
    margin: 20px 0;
}

.userCard .text {
    float: left;
    margin-left: 65px;
    width: 470px;
}

.userCard .pictureAndText {
    padding: 50px
}

.userCard dl dt,
.userCard dl dd {
    float: left;
    padding: 9px 0;
}

.userCard dl dt {
    width: 30%;
    font-weight: bold;
}

.userCard dl dd {
    width: 70%;
    color: #9da0a7;
}

.userCard footer.media {
    background: #e6686a;
    text-align: center;
}

.userCard footer.media>a {
    display: inline-block;
    width: 50px;
    line-height: 30px;
    padding: 10px 0;
    border-radius: 50%;
    margin: 16px 16px;
}

.userCard footer.media>a:hover {
    background: #cf5d5f;
}

.userCard svg {
    width: 30px;
    height: 30px;
    vertical-align: top;
}

body>main {
    margin-top: -340px;
}

body>main .downloadResume {
    font-size: 14px;
    line-height: 16px;
    padding: 21px 55px;
    border: 1px solid #CDCFD1;
    background: #EFEFEF;
    display: inline-block;
    border-radius: 6px;
    color: #3d4451;
    font-weight: bold;
    margin: 32px 0;
    /* 给hover添加过渡效果 */
    transition: 0.2s;
}

body>main .downloadResume-wrapper {
    text-align: center;
}

body>main .downloadResume:hover {
    box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.2);
}

.selfIntroduction {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: kai;
    line-height: 1.8;
    font-style: 18px;
}

section.skills,
section.portfolio {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}

section.skills>h2,
section.portfolio>h2 {
    text-align: center;
    color: #3d4451;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 600;
}

section.skills>h3 {
    font-style: 14px;
    line-height: 1.1;
    padding-right: 40px;
}

section.skills>ol {
    background: #fff;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
    padding: 42px 50px 10px;
    margin-top: 30px;
}

section.skills>ol>li {
    float: left;
    width: 48%;
    box-sizing: border-box;
}


/* :nth-child() - 伪类； ::before - 伪元素 */

section.skills>ol>li:nth-child(even) {
    float: right;
}

section.skills .progressBar {
    height: 5px;
    background: #FAE1E1;
    border-radius: 2px;
    margin: 4px 0px 40px;
}

section.skills .progressBar .progress {
    /* 外面高度确定了，里面这个进度条可以用100% */
    height: 100%;
    background: #E6686A;
    width: 50%;
    border-radius: 2px;
}

section.portfolio {
    text-align: center;
    margin-bottom: 100px;
}

section.portfolio>nav {
    text-align: center;
}

section.portfolio>nav>ol {
    margin: 0 auto;
    /* 使用dispaly:inline-block以后，元素会没有缘由的上浮一点点距离 */
    display: inline-block;
    /* 这时候就耀使用下面这行代码消除这个上浮的效果 */
    vertical-align: top;
    /* vertical-align: top; 一般和 display: inline-block; 配套使用*/
}

section.portfolio>nav>ol>li {
    float: left;
    margin-left: 40px;
    cursor: pointer;
}

section.portfolio>nav>ol>li:first-child {
    margin-left: 0;
}

section.portfolio>nav {
    display: inline-block;
    vertical-align: top;
    margin-top: 32px;
}

section.portfolio>nav .bar {
    height: 5px;
    background: #fff;
    margin-top: 5px;
    margin-bottom: 20px;
    border-radius: 2px;
}

section.portfolio>nav .bar-inner {
    height: 100%;
    background: #E6686A;
    border-radius: 2px;
    transition: 0.3s;
}

section.portfolio>nav .bar.state-1 .bar-inner {
    margin-left: 0;
    width: 50px;
}

section.portfolio>nav .bar.state-2 .bar-inner {
    margin-left: 65px;
    width: 50px;
}

section.portfolio>nav .bar.state-3 .bar-inner {
    margin-left: 140px;
    width: 96px;
}


/* 绝对定位的元素不在文档流里。div的高度需要手动指定 */

section.portfolio .works {
    position: relative;
}

section.portfolio .works .big,
section.portfolio .works .small {
    position: absolute;
}